@use "/src/main.scss" as *;

.search {
  display: flex;
  flex-direction: column;
}

form {
  background-color: $color1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 75%;
    margin-bottom: 10px;
  }

  select {
    width: fit-content;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

.no_results {
  background-color: rgb(247, 94, 94);
}
