@use "/src/main.scss" as *;

@include import-handwritten-font;

.album-cover {
  width: 85%;
  height: auto;
}

.release-info {
  background-color: $color3;

  max-height: 100%;
  min-height: 0;
  overflow-y: scroll;

  .album-name {
    font-family: $handwritten;
  }

  .track-name {
    font-weight: 600;
  }

  @include custom-scrollbar;
}
