@forward "/src/styles/mixins.scss";
@forward "/src/styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    display: block;
    height: auto;
  }

  .search,
  .releases,
  .release-info {
    scroll-margin-top: 40px;
    margin-bottom: 20px;
    overflow: visible;
  }

  body {
    overflow-y: scroll;
  }
}
